{% extends "base.html" %} 
{%- block site_nav %}
  {%- if nav|length>1 %}
      <ul class="nav navbar-nav ml-auto">
      {%- for nav_item in nav %}
      {%- if nav_item.nav_incl  %}
          {%- if nav_item.children %}
              {%- for nav_child in nav_item.children %}
                  {%- if nav_child.title == nav_item.title %}
                  {% set item_url = nav_child.url %}
                  {%- else %}
                  {% set item_url = nav_item.url %}
                  {%- endif %}
              {%- endfor %}
          {%- else %}
          {% set item_url = nav_item.url %}
          {%- endif %}
          <li class="navitem{% if nav_item.active %} active{% endif %}">
              <a href="{{ item_url|url }}" class="nav-link">{{ nav_item.title }}</a>
          </li>
      {%- endif %}
      {%- endfor %}
      </ul>
  {%- endif %}
{%- endblock %}
